// sass' hsl outputs as rbg, use own hsl function
@function hsl($h, $s, $l) {
  @return unquote('hsl(#{$h}, #{$s}, #{$l})');
}

$lightest: hsl(0, 0%, 94.4%);
$lighter: hsl(0, 0%, 90.3%);
// $light: #939393;
// $gray: #515151;
$dark: hsl(0, 0%, 34%);
// $darker: #313131;
$darkest: hsl(0, 0%, 25%);
$accent: #f2c71d;

$sectionMargin: 4rem;
$totalMargin: 20rem;
$firstMargin: $totalMargin - $sectionMargin;

/* image ratio= 17 : 10 */
$ratio: 58.8%;

html {
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
  overflow-y: hidden;
}
*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.424rem;
}

h2 {
  font-size: 1.266rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  line-height: 1.3;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  // height: 99.9%;
  // scroll-snap-type: y mandatory;
  // overflow-y: scroll;
  // scroll-padding-top: $sectionMargin;
  // padding-top: $containerPadding;
}

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  // height: 99.9%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-padding-top: $firstMargin;
}

.overlay {
  position: absolute;
  height: 100%;
}

.frame {
  display: none;
  z-index: 3;
  
  @supports (filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2))) {
    // filter: drop-shadow(0px 5px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0px 2px 1.5px rgba(0,0,0,0.5));
    // filter: drop-shadow(0px 2px 1.5px rgba(0,0,0,0.5)) drop-shadow(0px 5px 4px rgba(0,0,0,0.2));
  }
}

.text-display {
  display: none;
  @supports (display: grid){
    display: block;
  }
  position: absolute;
  top: 18vh;
  left: 51vw;
  background-color: black;
  height: 40rem;
  width: 52rem;
}

.frame {
  .top {
    grid-area: top;
  }
  .left {
    grid-area: left;
  }
  .right {
    grid-area: right;
  }
  .bottom {
    grid-area: bottom;
  }
  
  .panel {
    // background-color: #8f8f8f;
    background-color: $lightest ;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

    @supports (filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2))) {
      box-shadow: none;
    }
  }

  .border {
    &.inner {
      border: 2px dashed $dark;
      grid-area: middle;
      margin: -2px;
    }

    &.outer {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0.35rem solid $dark;
    }
  }

  @supports (display: grid) {
    // position: absolute;
    position: fixed;
    left: 0;
    right: 0;
    // max-width: 56rem;
    margin-top: $firstMargin;
    // margin-left: 4rem;
    // margin-right: 4rem;
    /* fixes scrolling being cancelled when cursor is on overlay*/
    pointer-events: none;
  }
}

section:first-of-type {
  margin-top: $firstMargin;
}

.filler {
  grid-area: middle;
  padding-top: $ratio;
}

header {
  position: absolute;
  height: 4rem;
}

section {
  position: relative;
  // max-width: 54rem;
  margin-top: $sectionMargin;
  // margin-left: 5rem;
  background-color: $lighter;
  scroll-snap-align: start;
  z-index: 2;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);

  @supports (filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2))) {
    box-shadow: none;
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.7));
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    // transform: translateZ(0);
    // visibility: hidden;
  }

  .image {
    position: relative;
    background-color: $lighter;
    height: 0;
    // margin-top: 2rem;
    overflow: hidden;
    grid-area: middle;

    padding-top: $ratio;
  }

  &:last-of-type {
    margin-bottom: 100vh;
  }

  p {
    @supports (display: grid) {
      display: none;
    }
  }
}

$accent-side: 1.8rem;
$accent-margin: 0.65rem;

.frame::after {
  content: "";
  width: $accent-side;
  height: $accent-side;
  top: $accent-margin;
  right: $accent-margin;
  position: absolute;
  border-top: $accent-side/2 solid $accent;
  border-right: $accent-side/2 solid $accent;
  border-bottom: $accent-side/2 solid transparent;
  border-left: $accent-side/2 solid transparent;
}

.grid-container {
  @supports (display: grid) {
    // width: 80vw;
    display: grid;
    grid-template-areas:
    "left   top     right"
    "left   middle  right"
    "bottom bottom  right";

    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows:    2rem 1fr 2rem;

    max-width: 48rem;
    margin-left: 7rem;
  }
}

@for $i from 1 through 200 {
  @media (min-width: #{$i}rem) and (max-width: #{$i+1}rem) {
   .overlay::after {
     position: absolute;
     top:0;
     left: 0;
     content: "#{$i}";
   }
  }  
}
