<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="mask-icon" href="<%= BASE_URL %>safari-pinned-tab.svg" color="#e4bc1c">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preload" href="<%= BASE_URL %>fonts/SystemGlitch-Regular.otf" as="font" type="font/otf" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>fonts/BigBlue_Terminal/BigBlue_Terminal_437TT.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>fonts/Monoid-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="<%= BASE_URL %>fonts/Px437/Px437_IBM_CGAthin-2y.ttf" as="font" type="font/ttf" crossorigin="anonymous">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
