// sass' hsl outputs as rbg, use own hsl function
@function hsl($h, $s, $l) {
  @return unquote('hsl(#{$h}, #{$s}, #{$l})');
}

$lightest: hsl(0, 0%, 94.4%);
$lighter: hsl(0, 0%, 90.3%);
$light: hsl(0, 0%, 58%);
$gray: hsl(0, 0%, 32%);
$dark: hsl(0, 0%, 34%);
$darker: hsl(0, 0%, 19%);
$darkest: hsl(0, 0%, 25%);
$accent: #f2c71d;